.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
}
.wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 350px;
  height: 50%;
  min-height: 250px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14);
  border-radius: 10px;
  background-color: #fff;
  padding: 1rem;
}
.operator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  align-self: center;
}
.operatorName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 1rem;
}
.back {
  border: 0;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px;
  align-self: flex-start;
  cursor: pointer;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14);
  transition: box-shadow 120ms cubic-bezier(0.4, 0, 0.2, 1);
}
.back:hover {
  outline: none;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  color: black;
}
.back::after {
  content: "<";
}
.button {
  background: linear-gradient(to bottom, #ff9810, #ff8300);
  box-shadow: 0 10px 15px 0 rgb(255 140 0 / 20%);
  color: #fff;
  height: 68px;
  min-width: 220px;
  font-size: 19px;
  border-radius: 34px;
  width: 30%;
  border: none;
  margin: 0;
  outline: none;
  padding: 0.5rem;
  cursor: pointer;
}
.button:active {
  margin-top: 4px;
  margin-bottom: -4px;
}
.title {
  font-size: 1.75rem;
  text-align: center;
}
.text {
  font-size: 1.25rem;
}
.btnWrapIcon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.btnWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.buttonText {
  padding-left: 1rem;
}
.lineWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: flex-start;
  line-height: 3rem;
  padding-left: 3rem;
}
@media only screen and (max-device-width: 480px) {
  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 250px;
    height: 50%;
    min-height: 250px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    background-color: #fff;
    padding: 1rem;
  }
  .back {
    border: 0;
    padding: 10px 1rem;
    margin: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    align-self: center;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14);
    transition: box-shadow 120ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 50%;
    min-width: 282px;
  }
  .back::after {
    content: "Назад";
  }
}
