.circle {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  -webkit-animation: spinner-circle 2s linear infinite;
  animation: spinner-circle 2s linear infinite;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
.sector {
  fill: none;
  stroke: #d8d8d8;
  -webkit-animation: spinner-sector 1.5s ease-in-out infinite;
  animation: spinner-sector 1.5s ease-in-out infinite;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 50, 200;
  stroke-dashoffset: 0;
}
@keyframes spinner-circle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner-sector {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 50, 200;
    stroke-dashoffset: -25;
  }
  100% {
    stroke-dasharray: 50, 200;
    stroke-dashoffset: -125;
  }
}
.success {
  width: 50px;
  height: 50px;
}
.successCircle {
  fill: #25ae88;
}
.successPolyline {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.error {
  width: 50px;
  height: 50px;
}
.errorCircle {
  fill: #d75a4a;
}
.errorPolyline {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
